@import "tailwindcss";
@import "../../../packages/ui/src/styles/globals.css";
@source "../../../packages/ui/src/**/*.{ts,tsx}";


.scrollbar-hidden {
    scrollbar-width: none;        /* Firefox */
    -ms-overflow-style: none;     /* IE/Edge */
  }
  
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;                /* Chrome/Safari */
  }