GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

BETTER_AUTH_URL=http://localhost:8787
BETTER_AUTH_SECRET=

RESEND_API_KEY=

DODO_PAYMENTS_API_KEY=
DODO_PAYMENTS_RETURN_URL=
DODO_PAYMENTS_WEBHOOK_KEY=

R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_API_ENDPOINT=

ENVIRONMENT=development
FRONTEND_URL=https://localhost:3000